h1 {
    font-size: 32px;
    font-weight: 800;
    margin-left: 0px;
    
}
@media screen and (min-width: 992px){
   h1{
    font-size: 40px;
   } 
}


span{
    margin-top: 20px;
    text-align: justify;
    max-width: 200px;
}







